<h1>Ask your coach a question....</h1>
<p>Your wish is my command:</p>
<form action = "/answer" method = "get">
  <input type = "text" name="query" placeholder="Ask me anything">
  <input type ="submit">
</form>
